<div class="card">
  <img src="https://www.enjpg.com/img/2020/beige-aesthetic-5.png" class="card-img-top article-background-img">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur commodi doloremque eius est
      exercitationem, fuga illo impedit in nesciunt nihil officiis quis quos sit sunt vel voluptatibus?
      Eaque, vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi autem,
      consectetur earum enim et exercitationem facere facilis fuga quaerat quidem tempore?
      Accusamus ad aliquid architecto assumenda ea possimus voluptatem!
      content.</p>
  </div>
</div>
